.pokemon {

    display: inline;
    margin: 10px;
    border: 10px;
    padding: 10px;
   

}

header {

    height: 80px;
    background-color: blue;
    position: top;
    width: 100%;
}

h1 {

    color: black;
    text-align: center;
}

#selectionArea {

    background-color: pink;
    height: 256px;
    width: 100%
    

}

#defenderArea {

    background-color: green;
    height: 256px;
}

#playerArea {

    background-color: purple;
    height: 256px;
}



span {

    background-color: white;
}

#attackBtn {

    margin: 10px;
    padding: 10px;
    border: 10px;
    color: red;
}

#attackBtn2 {

    margin: 10px;
    padding: 10px;
    border: 10px;
    float: right;
    color: green;
}
